<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis Predictor</title>
</head>
<body>
    <h1>Diagnosis Predictor</h1>
    <p>Please select the condition you want to predict:</p>
    <ul>
        <li><a href="/predict_alzheimer">Alzheimer's Disease</a></li>
        <li><a href="/predict_brain_tumor">Brain Tumor</a></li>
    </ul>
</body>
</html>
