<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Brain Tumor</title>
</head>
<body>
    <h1>Predict Brain Tumor</h1>
    <form action="/predict_brain_tumor" method="post" enctype="multipart/form-data">
        <label for="image">Upload MRI Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
